<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <title>CRC's Treehouse</title>
    </head>
    <body>
        <h1>Connor R. Couetil</h1>
        <h2>Current Date Placeholder</h2>
        <img src="/static/images/connorface.jpeg" alt="Head shot of Connor Couetil" class="img-circle">
        <p>Entrepreneur and bum vivant looking to make the most with the least.  Let's talk!</p>
        <p>Skillset</p>
        <ul>
            <li>Predictive/Descriptive Modeling</li>
            <li>Data Mining and Machine Learning</li>
            <li>Full-stack Development</li>
            <li>Analytics and Data Visualization</li>
            <li>Business/Software Consulting</li>
            <li>Experience working with Python, C/C++, R, PostgreSQL, Javascript, Java</li>
            <li>Languages: English, French, Spanish</li>
        </ul>
        <p>Learn more by viewing my <a href="https://www.linkedin.com/in/connorcouetil">LinkedIn Profile</a></p>
        <script src="/static/scripts/main.js"></script>

        <!-- Modulo Multiplication tables projected onto a circle -->
        <h2>Modulo Multiplication Table projected onto a circle</h2>

        <br>
            <label for="m-value">Multiplier: </label>
            <input id="m-value" type="number" value="2" min="0" step="0.1" required></input>

            <label for="n-value">Detail (Range of multiplication function or "periodic point"): </label>
            <input id="n-value" type="number" value="200" min="1" step="1" required></input>
        </br>

        <br>
            <label for="last_drawtime">Time to draw frame (ms): </label>
            <span id="last_drawtime">0</span>

            <label for="avg_drawtime">Avg. time to draw frame (ms): </label>
            <span id="avg_drawtime">0</span>
        </br>

        <br>
            <button type="button" id="mcr">Magic Carpet Ride</button>
            <label for="mcr_speed">Speed: </label>
            <input type="number" id="mcr_speed" value=".01" min=".01" step=".01" required></input>
        </br>

        <br>
            <button type="button" id="colorize">Colorize</button>
            <button type="button" id="psychedelic">Psychedelic</button>
            <label for="color_increment">Color change increment: </label>
            <input type="number" id="color_increment" value="64" min="0" step="1"></input>
            <label for="set_color">Set color: </label>
            <input type="color" id="set_color">
            <button type="button" id="redraw">Redraw</button>
        </br>
        
        <canvas id='mult-circle' width='600' height='600'>Your browser does not support the HTML5 Canvas tag</canvas>
        <script src="/static/scripts/mult-circle.js"></script>
    </body>
</html>
